appdirs==1.4.4
blis==0.7.4
catalogue==2.0.1
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
cymem==2.0.5
distlib==0.3.1
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0-py3-none-any.whl
feedparser==6.0.2
filelock==3.0.12
identify==2.1.3
idna==2.10
Jinja2==2.11.3
joblib==1.0.1
jsonpickle==2.0.0
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.5
nodeenv==1.5.0
numpy==1.20.1
packaging==20.9
pathy==0.4.0
pika==1.1.0
preshed==3.0.5
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
rake-nltk==1.0.4
regex==2020.11.13
requests==2.25.1
sgmllib3k==1.0.0
six==1.15.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
thinc==8.0.2
toml==0.10.2
tqdm==4.59.0
typer==0.3.2
tzlocal==2.1
urllib3==1.26.3
virtualenv==20.4.2
wasabi==0.8.2
